<div class="row-fluid" ng-init="
    adminConfigIsCollapsed=true
">
  <ul class="nav nav-pills nav-stacked">

    <li class="">
      <a href="/#/servers">View servers</a>
    </li>

    <li class="" ng-mouseenter="adminConfigIsCollapsed=false" ng-mouseleave="adminConfigIsCollapsed=true">
      <a href="/#/admin">
        Admin panel<i class="icon-chevron-down pull-right"></i>
      </a>

      <div collapse="adminConfigIsCollapsed">
        <ul class="nav nav-list">
          <li class=""><a href="/#/admin/config">
            <small>Config</small>
          </a></li>
        </ul>
      </div>

    </li>
  </ul>
</div>
