<div class="row-fluid">
  <ul class="nav nav-pills nav-stacked">

    <li active-on-role="User">
      <a href="/#/servers">View servers</a>
    </li>

    <li ng-mouseenter="ctrl.showAdmin()" ng-mouseleave="ctrl.hideAdmin()" ng-controller="NavMenuCtrl" active-on-role="Admin">

      <a href="/#/admin">
        Admin panel<i class="icon-chevron-down pull-right"></i>
      </a>

      <div collapse="model.adminIsCollapsed">
        <ul class="nav nav-list">
          <li><a href="/#/admin/config">
            <small>Config</small>
          </a></li>
          <li><a href="/#/admin/users">
            <small>Users</small>
          </a></li>
        </ul>
      </div>

    </li>

  </ul>
</div>
