body {
  padding-top: 4em;
}

.close.danger:hover {
  color: DarkRed;
  opacity: 0.8;
}

.close-notifications {
  position: relative;
  top: -20px;
  right: -16px;
}

.alert-compact {
  margin-bottom: 8px;
}

.alert-group {
  outline: 1px solid #dddddd;
  padding: 16px;
  padding-bottom: 8px;
}

.breadcrumb-compact {
  margin-bottom: 0px;
}

.img-32x32 {
  width: 32px;
  height: 32px;
  margin: 0px;
  padding: 4px;
}
