<div class="row-fluid">
  <div class="span6 offset3">
    <table class="table table-striped table-bordered server-list">
      <thead>
      <tr>
        <th><a ng-click="setSortBy('port')">
          Port<i ng-class="getSortByCls('port')"></i>
        </a></th>
        <th><a ng-click="setSortBy('players.length')">
          Players<i ng-class="getSortByCls('players.length')"></i>
        </a></th>
        <th><a ng-click="setSortBy('status')">
          Status<i ng-class="getSortByCls('status')"></i>
        </a></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="srv in servers | orderBy:sortBy:sortByReversed" ng-class="srv.statusCls">
        <td>{{srv.port}}</td>
        <td>{{srv.players.join(', ')}}</td>
        <td>{{srv.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
