<div class="row-fluid">

  <blockquote class="pull-right">
    <p>With great power comes great responsibility.</p>
    <small>François-Marie Arouet</small>
  </blockquote>

  <div class="offset1 span1">
    <a class="btn btn-info" href="/#/admin/config">Config</a>
  </div>

  <div class="span1">
    <a class="btn btn-warning" href="/#/admin/users">Users</a>
  </div>

</div>
