<div class="row-fluid">

  <div class="input-append pull-right">
    <input class="search-query" type="text" placeholder="search by id..." ng-model="searchId">
    <a class="close" ng-click="clearSearchId()">&times;</a>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>id</th>
      <th>value</th>
      <th>type</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="key in config.$keys | filter:searchId">
      <td style="width: 40%">
        {{key}}
      </td>
      <td style="width: 40%">
        <edit-on-click value="config[key].value"></edit-on-click>
      </td>
      <td style="width: 20%">
        {{config[key].type}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pull-right">
    <a class="btn" type="button" ng-click="saveConfig()">Save config</a>
  </div>

</div>
