<div class="row-fluid">
  <div class="navbar navbar-fixed-top offset1 span10">
    <div class="navbar-inner">

      <a class="pull-left" href="/#/"><img class="img-32x32" src="/assets/img/cbs.png"></a>
      <ul class="nav nav-pills">
        <li class="divider-vertical"></li>
      </ul>

    </div>
  </div>
</div>
