<div class="row-fluid" ng-controller="NotificationListCtrl" ng-show="notifications.get().length">
  <div ng-class="getNotificationCls(n)" ng-repeat="n in notifications.get()">
    {{n.msg}}
    <button type="button" class="close" ng-click="notifications.remove(n)">&times;</button>
  </div>
</div>
