<div class="row-fluid">

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><a ng-click="ctrl.toggleSortBy('port')">
        Port<i ng-class="ctrl.getSortByCls('port')"></i>
      </a></th>
      <th><a ng-click="ctrl.toggleSortBy('players')">
        Players<i ng-class="ctrl.getSortByCls('players')"></i>
      </a></th>
      <th><a ng-click="ctrl.toggleSortBy('status')">
        Status<i ng-class="ctrl.getSortByCls('status')"></i>
      </a></th>
      <th><a ng-click="ctrl.toggleSortBy('uptime')">
        Uptime<i ng-class="ctrl.getSortByCls('uptime')"></i>
      </a></th>
      <th><a ng-click="ctrl.toggleSortBy('modified')">
        Last modified<i ng-class="ctrl.getSortByCls('modified')"></i>
      </a></th>
      <th>
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="model.servers.get(id).statusCls"
        ng-repeat="id in model.servers.ids | orderBy:ctrl.getSortByKey:model.sortByReversed">
      <td>{{ model.servers.get(id).port }}</td>
      <td style="width: 40%">
        {{ model.servers.get(id).players.join(', ') }}
      </td>
      <td>{{ model.servers.get(id).status }}</td>
      <td>{{ model.servers.get(id).uptime.str }}</td>
      <td>{{ model.servers.get(id).modified.str }} ago</td>
      <td><span active-on-role="Admin">
        <button class="close danger" ng-click="ctrl.stopServerWithConfirm(id)">
          &times;
        </button>
        <button class="close danger" ng-click="ctrl.resetServerWithConfirm(id)">
          &#8635;
        </button>
      </span></td>
    </tr>
    </tbody>
  </table>

  <div class="input-append pull-right" active-on-role="Admin">
    <button class="btn" ng-click="ctrl.startServer()">Start server on</button>
    <input class="input-mini" type="number" ng-model="model.startServerPort">
  </div>

</div>
