<div class="row-fluid">

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><a ng-click="toggleSortBy('port')">
        Port<i ng-class="getSortByCls('port')"></i>
      </a></th>
      <th><a ng-click="toggleSortBy('players')">
        Players<i ng-class="getSortByCls('players')"></i>
      </a></th>
      <th><a ng-click="toggleSortBy('status')">
        Status<i ng-class="getSortByCls('status')"></i>
      </a></th>
      <th>
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="servers.get(id).statusCls" ng-repeat="id in servers.ids | orderBy:getSortByKey:sortByReversed">
      <td>{{servers.get(id).port}}</td>
      <td>{{servers.get(id).players.join(', ')}}</td>
      <td>{{servers.get(id).status}}</td>
      <td><span active-on-role="Admin">
        <a class="close danger" ng-click="stopServerWithConfirm(id)">&times;</a>
      </span></td>
    </tr>
    </tbody>
  </table>

  <div class="input-append pull-right" active-on-role="Admin">
    <a class="btn" ng-click="startServer()">Start server on</a>
    <input class="input-mini" type="number" ng-model="startServerPort">
  </div>

</div>
