@(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="mmm">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>MegaMek Manager</title>

  <link rel="stylesheet" href="/assets/css/bootstrap.css" media="screen">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

<div ng-include="'/assets/templates/mmm/layout/header.tmpl'"></div>

<div class="row-fluid">
  <div class="offset1 span1"></div>
  <div class="span7">
    @content
  </div>
  <div class="span2" ng-include="'/assets/templates/mmm/util/notification-list.tmpl'"></div>
</div>

<script src="/assets/js/all/mmm.less.js"></script>

</body>
</html>
