<!DOCTYPE html>

<html lang="en" ng-app="mmm">
<head>
  <meta charset="utf-8">
  <title>MegaMek Manager</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>

<div ng-view></div>

<script src="/assets/javascripts/angular.min.js"></script>
<script src="/assets/javascripts/angular-resource.min.js"></script>
<script src="/assets/javascripts/mmm/app.js"></script>
<script src="/assets/javascripts/mmm/controllers.js"></script>
<script src="/assets/javascripts/mmm/services.js"></script>

</body>
</html>
